[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=goland
Path=/home/zhou/workspace/program/Editor/GoLand/install/goland/bin
Icon=/home/zhou/workspace/program/Editor/GoLand/install/goland/bin/goland.svg
Exec=/home/zhou/workspace/program/Editor/GoLand/install/goland/bin/goland.sh
StartupNotify=true
OnlyShowIn=Unity;
X-UnityGenerated=true
