[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=sublime
Path=/home/zhou/workspace/program/Editor/Sublime/sublime_text_3
Icon=/home/zhou/workspace/program/Editor/Sublime/sublime_text_3/Icon/48x48/sublime-text.png
Exec=/home/zhou/workspace/program/Editor/Sublime/sublime_text_3/sublime_text
StartupNotify=true
OnlyShowIn=Unity;
X-UnityGenerated=true

